
.DS_Store
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/ocr-receipt.iml
.idea/vcs.xml
resr/ocr-receipt.sqlite
test_regex.py
/app/authentication/
/app/db.sqlite3
/app/static/1_Gaujac/bills/Devis SCHIRO MENUISERIES & FERMETURES - ROVER n°01860 2.pdf
