{% extends "base.html" %}

{% block content %}

<script>
    var data = [{% for shop, paid_product, receipt, product_group in query %}
    "{{paid_product.unit_price}}",
    {% endfor %}];
    var labels = [{% for shop, paid_product, receipt, product_group in query %}
    "{{receipt.date}}",
    {% endfor %}];
    var databar = [{% for shop, price in queryshop %}
        "{{price}}",
    {% endfor %}];
    var labelsbar = [{% for shop, price in queryshop %}
        "{{shop}}",
    {% endfor %}];
</script>
<div class="container">
    <div class="row p-2">
        <div class="col px-2">
            <canvas id="linechart"></canvas>
        </div>
        <div class="col px-2">
            <canvas id="barchart"></canvas>
        </div>
    </div>
    <div class="row p-2">

    </div>
</div>
<script type="text/javascript" src="/static/linechart.js" language="javascript"></script>
<script type="text/javascript" src="/static/barchart.js" language="javascript"></script>
<div class="row p-2">
<table id="data_table" class="my-3 table table-striped">
    <thead>
      <tr>
        <th>Shop</th>
        <th>Date</th>
        <th>Unit Price</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Linked Receipt</th>
      </tr>
    </thead>
    <tbody>
      {% for shop, paid_product, receipt, product_group in query %}
          <tr>
            <td>{{ shop.name }}</td>
            <td>{{ receipt.date }}</td>
            <td>{{ paid_product.unit_price }} €</td>
            <td>{{ paid_product.quantity }}</td>
            <td>{{ paid_product.price }} €</td>
            <td>
                <a href="{{ url_for('receipt_blueprint.receipt_detail', id_receipt=receipt.id)}}"
                    class="btn btn-primary">
                <i class="mx-1 bi bi-zoom-in"></i> receipt {{receipt.id}}
              </a>
            </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="row my-4 p-2">
    <h6><strong>Aliases used for product</strong></h6>
    <table class="table table-striped">
        <thead>
            <th>Aliases</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for product in queryalias %}
            <tr>
                <td>{{product.name}}</td>
                <td>
                    <a href="{{url_for('receipt_blueprint.alias_delete', id_alias=product.id)}}"
                       role="button" class="btn btn-outline-danger btn-sm">
                      <i class="bi bi-x-circle"></i></a>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}