{% extends "base.html" %}
{% from "_formhelpers_add_product.html" import render_field %}
{% from "_formhelpers_update_receipt.html" import render_field_up %}

{% block content %}
<script>
    var databar = [{% for month, total in queryspends %}
        "{{total}}",
    {% endfor %}];
    var labelsbar = [{% for month, total in queryspends %}
        "{{month}}",
    {% endfor %}];
</script>

<div class="container">
    <div class="row p-3">
        <div class="col px-2">
            <canvas id="barchart"></canvas>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/barchart.js" language="javascript"></script>
  <table id="data_table_receipt" class="my-3 table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Shop</th>
        <th>Price</th>
        <th>Date</th>
        <th>City</th>
        <th>Receipt</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for receipt, shop in query %}
          <tr>
            <td>{{ receipt.id }}</td>
            <td>{{ shop.name }}</td>
            <td>{{ receipt.total_price }}</td>
            <td>{{ receipt.date.strftime('%Y-%m-%d') }}</td>
            <td>Paris</td>
            <td>
              <a href="{{ url_for('receipt_blueprint.receipt_detail', id_receipt=receipt.id)}}"
                    class="btn btn-primary">
                <i class="mx-1 bi bi-zoom-in"></i> Receipt {{receipt.id}}
              </a></td>
            <td><a id="del_{{receipt.id}}" href="{{ url_for('receipt_blueprint.receipt_delete', id_receipt=receipt.id)}}"
            role="button" class="btn btn-outline-danger btn-sm">
              <i class="bi bi-trash"></i></a>

            </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
